.*.s??
*.rbc
*.sassc
.sass-cache
capybara-*.html
/.bundle
/vendor/bundle
/log/*
*.log*
/tmp/*
/db/*.sqlite3*
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
bin
REVISION
.DS_STORE
config/.DS_STORE
dump.rdb
.idea
pmip
*.sublime-*
.ruby-version